@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}


/* ====================================================================================== */

.romantic {
    background-color:#292d33;
    position: relative;
    z-index: -5;
}
.romantic-body{
    padding: 60px;
}
.columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.left-col {
    width: 48%;
}
.left-col img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.right-col {
    width: 48%;
    position: relative;
}
.right-col img {
    width: 100%;
    
}
.right-col h1 
{
    text-align: center;
    color: white;
    margin-bottom: 80px;
}
.right-col p {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 20px;
}
.more {
    margin: 0 auto;
    border-bottom: 1px solid white;
    color: white;
    width: max-content;
}
.title {
    background-color:#555c66c9 ;
    padding: 20px;
    width: 240px;
    margin: 0 auto;
    position: absolute;
    left: 30px;
    top: 60px;
}
.freepik{
    color: white;
    width: max-content;
    margin: 0 auto;
}
.freepik span {
    border-bottom: 1px solid orange;
    color: orange;
}
.color {
    background-color: rgba(187, 75, 34, 0.732);
    width: 100%;
    height: 200px;
    position: absolute;
    top: 250px;
    z-index: -1;
}
.color1{
    background-color: rgba(187, 75, 34, 0.732);
    width: 100px;
    height: 100%;
    position: absolute;
    /* left: 250px; */
    z-index: 10;
}