@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    background-image: url('../image/fon.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}



/* ====================================================================== */
.about-body {
    display: flex;
    align-items: center;
    height: 100vh;
}
.about-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.about-left img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 7px solid #3210f3ab ;
    transition: 0.90s;
    position: absolute;
}
.about-left img:hover {
    border: 7px solid #10f382ab ;
}
.about-right {
    width: 50%;
}
.about-right-title {
    color: white;
    font-size: 100px;
    /* margin-bottom: 30px; */
    text-align: right;
    border-left: 15px solid white;
}
.about-right-subtitle {
    color: white;
    font-size: 26px;
    border-left: 15px solid white;
    font-weight: 500;
    line-height: 45px;
    text-align: right; 
    padding-top: 30px;
}

.hover1 {
    transition: all 0.6s;
}
.hover2 {
    border-radius: 50%;
    transform: scale(0);
    overflow: hidden;
    transition: all 0.6s;
}
.about-left:hover .hover1 {
    overflow: hidden;
    transform: scale(0);
}
.about-left:hover .hover2 {
    transform: scale(1);
    overflow: auto;
    border-radius: 50%;
    transform: rotate(180deg);
}