@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto'; 
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ================================================================================ */

.page-1-bkg {
    background-image: url(./image/1fon-buluut.jpg);
    background-size: cover;
    height: 828px;
    background-position: center;
}
.page-1 {
    padding: 60px;
}
.agency-title {
    background-color: #2783ca;
    position: relative;
    height: 200px;
    width: 800px;
    margin-bottom: 100px;
}
.agency-title-h1 {
    position: absolute;
    font-size: 240px;
    bottom: -80px;
    right: -60px;
    color: white;
}
.page-1-text {
    font-size: 26px;
    color: white;
    width: 70%;
    margin-bottom: 60px;
}
.freepik-style {
    color: white;
    font-size: 18px;
}
.freepik-style span {
    border-bottom: solid 1px;
}

/* =============================================================== */
.page-2-bkg {
    background-color: #2783ca;
}
.page-2{
    padding: 60px;
}
.page-2 h2 {
    color: white;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
}
.page-2 h1 {
    font-size: 80px;
    color: white;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}
.page-2-list {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 50px;
}
.page-2-listitem {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    width: 23%;
}
.page-2-listitem img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.page-2-listitem h4 {
    font-size: 26px;
    text-align: center;
    color: rgb(91, 90, 90);
    font-weight: 500;
    text-transform: capitalize ;
    margin-bottom: 20px;
}
.page-2-more {
    width: max-content;
    border-bottom: 1px solid black;
    margin: 0 auto;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 25px;
}
.page-2-freepik {
    width: max-content;
    margin: 0 auto;
}

/* =============================================page-3======================================================= */

.page-3-bkg {
    background-color: #dcc3c9;
}
.page-3 {
    padding: 60px;
}

.page-3 h1 {
    font-size: 48px;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 300;
}
.freepik-black-style {
    margin-bottom: 30px;
    font-size: 18px;
}
.freepik-black-style span {
    border-bottom: 1px solid black;
}
.page-3-list {
    display: flex;
    justify-content: space-between;
}
.page-3-listitem {
    padding: 20px;
    background-color: white;
    width: 31%;
    border-radius: 20px;
    box-shadow: 2px 2px 25px #8e8285;
}
.page-3-listitem img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}
.page-3-listitem h4 {
    color: #2783ca;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 400;
}
.page-3-listitem ul {
    margin-left: 20px;
    color: black;
    line-height: 25px;
    font-weight: 400;
}

/* ==========================page-4========================================================== */

  .page-4-bkg {
    background-image: url(./image/Our-Story-fon.jpg);
    height: 600px;
    background-size: cover;
  }.page-4-list {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
  }
  .page-4-listitem-1 {
    width: 45%;
    border-radius: 20px;
  }
  .page-4-listitem-1 img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 400px;
  }
  .page-4-listitem-2 {
    width: 45%;
    border-radius: 20px;
    background-color: #2783ca;
    margin-top: 260px;
    height: max-content;
    padding: 25px;
  }
  .page-4-listitem-2 h2 {
    text-transform: capitalize;
    color: white;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .page-4-listitem-2 p {
    color: white;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .page-1-freepik {
    margin-bottom: 20px;
  }

  .learn-more {
    padding: 10px 25px 10px 25px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
    width: max-content;
  }
  .page-4-text {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    line-height: 30px;
  }

  /* =========================page-5=========================================================== */

  .page-5-bkg {
    background-color: #dcc3c9;
  }
  .page-5 {
    padding-top: 550px;
  }
  .page-5-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .page-5-title h1 {
    font-size: 80px;
    font-weight: 400;
    width: 50%;
    margin-right: 50px;
  }
  .page-5-title span {
    font-weight: 700;
  }
  .page-5-title-line {
    width: 200px;
    border-bottom: 4px solid black;
  }
  .page-5 {
    padding-bottom: 50px;
  }
  .page-5-body {
    position: relative;
  }
  .page-5-body img {
    width: 100%;
    object-fit: cover;
  }
  .page-5-body p {
    position: absolute;
    width: 40%;
    padding: 20px;
  }
  .page-5-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .page-5-listitem {
    width: 23%;
    padding: 20px;
  }
  .page-5-listitem h4 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom:20px ;
  }
  .page-5-listitem ul {
    list-style: none;
  }
  .page-5-listitem li {
    font-size: 24px;
    line-height: 35px;
    font-weight: 300;
  }
  .page-5-listitem li::before {
    content: "+";
    margin-right: 10px;
    font-weight: 300;
    color: gray;
    font-size: 30px;

  }


  /* =============================page-6=================================================================== */

  .page-6-bkg {
    background-color: #2783ca;
  }
  .page-6 {
    padding: 50px;
  }
  .page-6-list {
    display: flex;
    justify-content: space-between;
  }
  .page-6-listitem-left {
    width: 48%;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
  }
  .page-6-listitem-left img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 20px;
    
  }
  .page-6-listitem-left h2 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .page-6-listitem-right {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-6-sublistitem {
    background-color: white;
    border-radius: 20px;
    height: 47%;
    padding: 25px;
  }
  .page-6-sublistitem img {
    width: 50px;
    object-fit: cover;
    height: 50px;
    margin-bottom:20px ;
  }
  .page-6-sublistitem h3 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .page-6-sublistitem p {
    line-height: 25px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .page-6-learn-more {
    padding: 10px 30px 10px 30px;
    width: max-content;
    border: 1px solid #2783ca;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
  }

  /* ========================page-7================================================================================== */
  .page-7-bkg {
    background-color:#dcc3c9;
  }
  .page-7 {
    padding: 50px;
  }
  .page-7-list h4 {
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 20px;

  }
  .page-7-list h1 {
    text-align: center;
    font-size: 65px;
    letter-spacing: 3px;
    font-weight: 350;
    margin-bottom: 20px;
  }
  .page-7-list img {
    object-fit: cover;
    width: 100%;
    margin: 0 auto;
  }





  /* ======================page-8===================================================================================== */
.page-8-bkg {
  background-color: #2783ca;
}
.page-8 {
  padding: 50px;
  width: 60%;
  margin: 0 auto;
}
.page-8-list h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: 20px;
  color: white;

}
.page-8-list h5 {
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  color: white;
  margin-bottom: 40px;
}
.page-8-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

}
.page-8-text h6 {
  margin-bottom: 10px;
  text-align: left;
  font-size: 20px;
  color: white;
}
.text-box-list{
  display: flex;
  justify-content: space-between;
}
.text-box p{
  color: white;
  margin-bottom: 1px;
}
.text-box{
  width: 48%;
  margin-bottom: 30px;
}
.text-box input{
  background-color: #ebe6e7;
  width: 100%;
  border: solid #ebe6e7 1px;
  padding: 13px 10px;
  border-radius: 30px;
  font-size: 16px;
}
.text-box input::placeholder{
  color: gray;
  opacity: 0.8;
  font-weight: 200;
}
.submit{
  background-color: black;
  border-radius: 30px;
  padding: 13px 10px;
  width: 100%;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.submit:hover {
  border:1px solid #dcc3c9;
  background-color: #dcc3c9;
  color: black;
}
.page-8-title {
  display: flex;
  justify-content: space-between;
}
.page-8-listitem {
  width: 32%;
}
.page-8-title h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}
.page-8-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: white;
}