@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}


/* ========================================================================================== */
.take {
    background-color: #293233;
    padding: 100px 0 ;
    height: 100vh;
}

.title-1 {
    text-align: center;
    color: white;
    font-size: 80px;
    margin-bottom: 50px;
}
.take-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.take-col {
    background-color: white;
    width: 32%;
    margin-bottom: 20px;
    padding: 50px 35px;
    border-radius: 20px;
}
.take-col-img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 10px solid #f58d54;
    display: block;
    margin: 0 auto;
    transition: all 0.5s;
}
.take-col-img:hover {
    border:10px dashed;
    width: 250px;
    height: 250px;
    transform: rotate(360deg);
}
.take-col-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 300;
}
.take-col-subtitle {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    border-bottom: 1px solid rgb(219, 217, 217);
    padding-bottom: 20px;
}
.freepik {
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin: 30px 0;
}
.freepik span {
    border-bottom: 1px solid white;
}
.freepik span:hover {
    border-bottom: 1px solid #f58d54 ;
}