@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}


/* ================================================================== */
.about-body{
    padding: 30px;
}
.about-top {
    display: flex;
    height: 300px;
}
.about-top-left {
    width: 60%;

}
.about-top-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.about-top-right {
    width: 40%;
    font-size: 40px;
    display: flex;
    align-items: end;
    padding-bottom: 30px;
    padding-left: 30px;
}
.about-top-right h1 {
    font-size: 40px;
    width: 70%;
    color: gray;
}
.image {
    width: 1000px;
    height: 800px;
}
.about-bottom {
    display: flex;
    object-fit: cover;
    align-items: center;
    justify-content: space-between;
}
.about-bottom-col{
    width: 50%;
}
.about-bottom-col img{
    width: 100%;
}
.about-bottom-center-top {
    height: 50%;
}
.about-bottom-center-img  {
    height: 50%;
}
.about-bottom-center-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}